<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors in Horizontal Layout (Medium, Text Right) - daze</title>
    <link rel="stylesheet" href="../../../../styles/main.css">
    <link rel="stylesheet" href="../colors.css">
    <link rel="icon" type="image/png" href="../../../../favicon.png">
    <script src="https://kit.fontawesome.com/2da53748b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content-container">

        <nav class="global-nav">
            <div class="global-nav-container">
                <div class="global-nav-logo">
                    <a href="../../../../index.html">
                        <img class="global-nav-logo-img" src="../../../assets/images/obsidian-cat.png" alt="Obsidian Cat">
                        <span class="web-title">daze</span>
                    </a>
                </div>
                <ul class="global-nav-menu">
                    <li class="global-nav-menu-item">
                        <a href="../../../../index.html">Home</a>
                    </li>
                    <li class="global-nav-menu-item">
                        <a href="../../../projects.html" class="active">Projects</a>
                    </li>
                    <li class="global-nav-menu-item">
                        <a href="../../../get-in-touch.html">Get in Touch</a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="breadcrumb">
            <ul class="breadcrumb-menu">
                <li>
                    <a href="../../../../index.html"><i class="fa-solid fa-house"></i></a>
                    <span class="breadcrumb-menu-item-separator">/</span>
                </li>
                <li>
                    <a href="../../../projects.html">Projects</a>
                    <span class="breadcrumb-menu-item-separator">/</span>
                </li>
                <li>
                    <a href="../colors.html">Colors</a>
                    <span class="breadcrumb-menu-item-separator">/</span>
                </li>
                <li>
                    <a href="" class="current-page">Colors in Horizontal Layout (Medium, Text Right)</a>
                </li>
            </ul>
        </nav>
        
        <h1>Color Layouts</h1>  

        <div class="nav-group">
            <p class="nav-group-desc">Explore colors in different layouts:</p>
            <nav class="layout-menu">
                <ul class="nav-list-menu">
                    <li><a href="square-layout.html">Square Layout</a></li>
                    <li><a href="vertical-layout-text-top.html">Vertical Layout (Text Top)</a></li>
                    <li><a href="vertical-layout-text-bottom.html">Vertical Layout (Text Bottom)</a></li>
                    <li><a href="vertical-layout-text-top-no-title.html">Vertical Layout (Text Top, No Title)</a></li>
                    <li><a href="vertical-layout-text-bottom-no-title.html">Vertical Layout (Text Bottom, No Title)</a></li>
                    <li><a href="horizontal-layout-small-text-right.html">Horizontal Layout (Small, Text Right)</a></li>
                    <li><a href="horizontal-layout-small-text-left.html">Horizontal Layout (Small, Text Left)</a></li>
                    <li><a href="horizontal-layout-medium-text-right.html" class="active">Horizontal Layout (Medium, Text Right)</a></li>
                    <li><a href="horizontal-layout-medium-text-left.html">Horizontal Layout (Medium, Text Left)</a></li>
                </ul>
            </nav>
        </div>
        
        <section>
            <h2 class="subtitle">
                Colors in Horizontal Layout
                <span class="subtitle-extended-txt">(Medium, Text Right)</span>
            </h2>
            <div class="color-card-group horizontal md">
                <div class="color-card-group-container">
                    <div class="color-card">
                        <div class="color-swatch deep-indigo"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Deep Indigo</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch rebecca-purple"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Rebecca Purple</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch medium-purple"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Medium Purple</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch grape-jelly"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Grape Jelly</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch violet"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Violet</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch sunset-purple"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Sunset Purple</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch lavender"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Lavender</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch heather"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Heather</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch periwinkle"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Periwinkle</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch cornflower-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Cornflower Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch dodger-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Dodger Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch royal-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Royal Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch water-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Water Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch sky-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Sky Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch alice-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Alice Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch cambridge-blue"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Cambridge Blue</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch dark-turquoise"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Dark Turquoise</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch turquoise"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                                <!-- <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p> -->
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Turquoise</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch green"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Green</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch forest-green"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Forest Green</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch lime-green"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Lime Green</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch yellow"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Yellow</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch mustard-yellow"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Mustard Yellow</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch orange"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Orange</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch vermilion"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Vermilion</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch red"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Red</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch burgundy"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Burgundy</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch brown"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Brown</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch barbie-pink"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Barbie Pink</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch bubblegum"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Bubblegum</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch pink"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Pink</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch sakura"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Sakura</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch white"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">White</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch grey"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Gray</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch black"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Black</p>
                            </div>
                        </div>
                    </div>
                    <div class="color-card">
                        <div class="color-swatch rainbow"></div>
                        <div class="color-card-body">
                            <div class="color-card-body-header">
                                <h3 class="color-title">Color</h3>
                                <p class="color-pronunciation">Pronunciation</p>
                            </div>
                            <div class="color-card-body-footer">
                                <p class="color-definition">Rainbow</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <p>Copyright &copy; 2026 BLACKSNOW. All Rights Reserved.</p>
            <p class="web-creator">Developed by <a href="../../../blacksnow/blacksnow.html" class="daze-to-blacksnow-black-screen-link">daze</a>(<a href="https://github.com/dazeblacksnow" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-alt icon"></i>dazeblacksnow</a>)</p>
        </footer>

    </div>
    </body>
</html>