<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors In Square Layout - DAZE</title>
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" href="../../../favicon.png">
    <script src="https://kit.fontawesome.com/2da53748b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content-container">

        <nav class="top-nav">
            <ul class="top-nav-menu">
                <li><a href="../colors.html">Back</a> <span class="top-nav-menu-item-separator">|</span></li>
                <li><a href="../../../index.html"><i class="fa-solid fa-house"></i></a></li>
            </ul>
        </nav>
        
        <h1>Colors</h1>  
        <p>Explore colors in different languages:</p>
        <nav class="color-menu">
            <ul class="color-menu-list">
                <li><a href="../colors.html">English🇺🇸</a></li>
                <li><a href="../color-lang/japanese.html">Japanese🇯🇵</a></li>
                <li><a href="../color-lang/korean.html">Korean🇰🇷</a></li>
                <li><a href="../color-lang/chinese.html">Chinese🇨🇳</a></li>
                <li><a href="../color-lang/spanish.html">Spanish🇪🇸</a></li>
                <li><a href="../color-lang/french.html">French🇫🇷</a></li>
                <li><a href="../color-lang/italian.html">Italian🇮🇹</a></li>
                <li><a href="../color-lang/german.html">German🇩🇪</a></li>
                <li><a href="../color-lang/norwegian.html">Norwegian🇳🇴</a></li>
                <li><a href="../color-lang/russian.html">Russian🇷🇺</a></li>
            </ul>
        </nav>

        <p>Explore colors in different layouts:</p>
        <nav class="color-menu">
            <ul class="nav-list">
                <li><a href="square-layout.html" class="active">Square Layout</a></li>
                <li><a href="horizontal-layout.html">Horizontal Layout</a></li>
                <li><a href="vertical-layout-with-top-title.html">Vertical Layout With Top Title And Description</a></li>
                <li><a href="vertical-layout-with-bottom-title.html">Vertical Layout With Bottom Title And Description</a></li>
                <li><a href="vertical-layout-with-no-title.html">Vertical Layout With No Title</a></li>
            </ul>
        </nav>

        <section class="en">
            <h2 class="subtitle">Square Layout</h2>
            <div class="color-card-group vertical">
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Indigo</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade indigo"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Rebecca Purple</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade rebecca-purple"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Medium Purple</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade medium-purple"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Grape Jelly</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade grape-jelly"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Violet</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade violet"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Sunset Purple</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade sunset-purple"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Lavender</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade lavender"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Heather</h3>
                    </div>
                    <div class="color-shade heather"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Periwinkle</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade periwinkle"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Cornflower Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade cornflower-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Dodger Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade dodger-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Royal Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade royal-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Water Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade water-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Sky Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade sky-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Alice Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade alice-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Cambridge Blue</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade cambridge-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Dark Turquoise</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade dark-turquoise"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Turquoise</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade turquoise"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Green</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade green"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Forest Green</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade forest-green"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Lime Green</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade lime-green"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Yellow</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade yellow"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Mustard</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade mustard"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Orange</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade orange"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Vermilion</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade vermilion"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Red</h3>
                        <!-- <p class="color-desc">)</p> -->
                    </div>
                    <div class="color-shade red"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Burgundy</h3>
                        <!-- <p class="color-desc">)</p> -->
                    </div>
                    <div class="color-shade burgundy"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Brown</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade brown"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Barbie Pink</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade barbie-pink"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Bubblegum</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade bubblegum"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Pink</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade pink"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Sakura</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade sakura"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">White</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade white"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Grey</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade grey"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Black</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade black"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-title">
                        <h3 class="color">Rainbow</h3>
                        <!-- <p class="color-desc"></p> -->
                    </div>
                    <div class="color-shade rainbow"></div>
                </div>
            </div>
        </section>

        <footer>
            <p>Copyright &copy; 2026 BLACKSNOW. All Rights Reserved.</p>
            <p class="web-creator">Developed by <b></i>DAZE</b> (<a href="https://github.com/dazeblacksnow" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-alt icon"></i>dazeblacksnow</a>)</p>
        </footer>

    </div>
</body>
</html>