<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colors In Vertical Layout (Text Top) - daze</title>
    <link rel="stylesheet" href="../../../styles/main.css">
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/png" href="../../../favicon.png">
    <script src="https://kit.fontawesome.com/2da53748b6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="content-container">

        <nav class="top-nav">
            <ul class="top-nav-menu">
                <li><a href="../colors.html">Back</a> <span class="top-nav-menu-item-separator">|</span></li>
                <li><a href="../../../index.html"><i class="fa-solid fa-house"></i></a></li>
            </ul>
        </nav>
        
        <h1>Color Layouts</h1>  
        
        <div class="nav-group">
            <p class="nav-group-desc">Explore colors in different layouts:</p>
            <nav class="layout-menu">
                <ul class="nav-list">
                    <li><a href="square-layout.html">Square Layout</a></li>
                    <li><a href="vertical-layout-text-top.html" class="active">Vertical Layout (Text Top)</a></li>
                    <li><a href="vertical-layout-text-bottom.html">Vertical Layout (Text Bottom)</a></li>
                    <li><a href="vertical-layout-text-top-no-title.html">Vertical Layout (Text Top, No Title)</a></li>
                    <li><a href="vertical-layout-text-bottom-no-title.html">Vertical Layout (Text Bottom, No Title)</a></li>
                    <li><a href="horizontal-layout-small-text-right.html">Horizontal Layout (Small, Text Right)</a></li>
                    <li><a href="horizontal-layout-small-text-left.html">Horizontal Layout (Small, Text Left)</a></li>
                    <li><a href="horizontal-layout-medium-text-right.html">Horizontal Layout (Medium, Text Right)</a></li>
                    <li><a href="horizontal-layout-medium-text-left.html">Horizontal Layout (Medium, Text Left)</a></li>
                </ul>
            </nav>
        </div>
        
        <section>
            <h2 class="subtitle">
                Colors In Vertical Layout
                <span class="subtitle-extended-txt">(Text Top)</span>
            </h2>
            <div class="color-card-group vertical text-top">
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Deep Indigo</p>
                    </div>
                    <div class="color-swatch deep-indigo"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Rebecca Purple</p>
                    </div>
                    <div class="color-swatch rebecca-purple"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Medium Purple</p>
                    </div>
                    <div class="color-swatch medium-purple"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Grape Jelly</p>
                    </div>
                    <div class="color-swatch grape-jelly"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Violet</p>
                    </div>
                    <div class="color-swatch violet"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Sunset Purple</p>
                    </div>
                    <div class="color-swatch sunset-purple"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Lavender</p>
                    </div>
                    <div class="color-swatch lavender"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Heather</p>
                    </div>
                    <div class="color-swatch heather"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Periwinkle</p>
                    </div>
                    <div class="color-swatch periwinkle"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Cornflower Blue</p>
                    </div>
                    <div class="color-swatch cornflower-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Dodger Blue</p>
                    </div>
                    <div class="color-swatch dodger-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Royal Blue</p>
                    </div>
                    <div class="color-swatch royal-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Water Blue</p>
                    </div>
                    <div class="color-swatch water-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Sky Blue</p>
                    </div>
                    <div class="color-swatch sky-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Alice Blue</p>
                    </div>
                    <div class="color-swatch alice-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Cambridge Blue</p>
                    </div>
                    <div class="color-swatch cambridge-blue"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Dark Turquoise</p>
                    </div>
                    <div class="color-swatch dark-turquoise"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Turquoise</p>
                    </div>
                    <div class="color-swatch turquoise"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Green</p>
                    </div>
                    <div class="color-swatch green"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Forest Green</p>
                    </div>
                    <div class="color-swatch forest-green"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Lime Green</p>
                    </div>
                    <div class="color-swatch lime-green"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Yellow</p>
                    </div>
                    <div class="color-swatch yellow"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Mustard</p>
                    </div>
                    <div class="color-swatch mustard"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Orange</p>
                    </div>
                    <div class="color-swatch orange"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Vermilion</p>
                    </div>
                    <div class="color-swatch vermilion"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Red</p>
                    </div>
                    <div class="color-swatch red"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Burgundy</p>
                    </div>
                    <div class="color-swatch burgundy"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Brown</p>
                    </div>
                    <div class="color-swatch brown"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Barbie Pink</p>
                    </div>
                    <div class="color-swatch barbie-pink"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Bubblegum</p>
                    </div>
                    <div class="color-swatch bubblegum"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Pink</p>
                    </div>
                    <div class="color-swatch pink"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Sakura</p>
                    </div>
                    <div class="color-swatch sakura"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">White</p>
                    </div>
                    <div class="color-swatch white"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Grey</p>
                    </div>
                    <div class="color-swatch grey"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Black</p>
                    </div>
                    <div class="color-swatch black"></div>
                </div>
                <div class="color-card">
                    <div class="color-card-body">
                        <h3 class="color-title">Color</h3>
                        <p class="color-desc">Pronunciation</p>
                        <p class="color-desc-translate">Rainbow</p>
                    </div>
                    <div class="color-swatch rainbow"></div>
                </div>
            </div>
        </section>

        <footer>
            <p>Copyright &copy; 2026 BLACKSNOW. All Rights Reserved.</p>
            <p class="web-creator">Developed by <b></i>daze</b> (<a href="https://github.com/dazeblacksnow" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github-alt icon"></i>dazeblacksnow</a>)</p>
        </footer>

    </div>
    </body>
</html>