.nav-group {
    margin-top: 1rem;
}

.nav-group-desc {
    margin-bottom: -.125rem;
}

.color-menu-list {
    list-style-type: none;
    margin-bottom: 0;
    padding-inline-start: 0;
}

.color-menu-list li {
    display: inline-block;
    margin: 0 3px 3px 0;
}

/* ********** Default Card ********** */
.color-card-group {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    margin: 20px 0 2rem !important;
}

.color-card {
    background-color: #e9eaf3;
    border-radius: 12px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 5px;
    width: 116px;
    /* transition: all .2s ease-in-out; */
}

/* .color-card:hover {
    background-color: #d1d3e0;
} */

.vertical .color-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3px 0 5px;
    padding-left: 2px;
}

h3.color {
    color: #363842;
    font-size: 11px;
    margin: 0;
    text-transform: capitalize;
}

.color-desc {
    color: #8d8f9d;
    font-size: 9px;
    margin: 2px 0 0;
    word-break: break-all;
    /* text-transform: capitalize; */
}

.color-desc-translate {
    color: rgb(141 143 157 / 50%);
    font-size: 8px;
    margin: 0;
}

.color-shade {
    background-color: #d2d6eb;
    border-radius: 8px;
    height: 106px;
    width: 100%;
}



.top-title .color-card-title{
    margin: 3px 0 8px;
    padding: 0 2px;
}

.top-title .color-desc {
    margin: 2px 0 0;
}

.top-title .color-desc-translate {
    margin: 4px 0 0;
}

.top-title .color-shade {
    height: 78px;
}

.no-title .color-shade {
    height: 60px;
}



.color-shade.indigo {
    background-color: #451c6c;
}

.color-shade.rebecca-purple {
    background-color: #663399;
}

.color-shade.medium-purple {
    background-color: #8968cd;
}

.color-shade.violet {
    background-color: #9b24b4;
}

.color-shade.sunset-purple {
    background-color: #a865b5;
}

.color-shade.lavender {
    background-color: #be9fdd;
}

.color-shade.heather {
    background-color: #988dba;
}

.color-shade.early-bird {
    background-color: #cea2fd;
}

.color-shade.periwinkle {
    background-color: #8690f8;
}

.color-shade.cornflower-blue {
    background-color: #649cff;
}

.color-shade.grape-jelly {
    background-color: #3d2e83;
}

.color-shade.royal-blue {
    background-color: #3b62da;
}

.color-shade.dodger-blue {
    background-color: #3389f9;
}

.color-shade.sky-blue {
    background-color: #82c7f2;
}

.color-shade.water-blue {
    background-color: #5bc2ff;
}

.color-shade.alice-blue {
    background-color: #a0d4e0;
}

.color-shade.cambridge-blue {
    background-color: #a8c4b2;
}

.color-shade.dark-turquoise {
    background-color: #00a3b4;
}

.color-shade.turquoise {
    background-color: #4ebbb2;
}

.color-shade.green {
    background-color: #47b471;
}

.color-shade.forest-green {
    background-color: #196251;
}

.color-shade.lime-green {
    background-color: #b9d24e;
    background-color: #b2cb00;
}

.color-shade.yellow {
    background-color: #f5d861;
    background-color: #f2d352;
}

.color-shade.mustard {
    background-color: #f2bb4e;
    background-color: #f4ba44;
    background-color: #f2b73f;
} 

.color-shade.orange {
    background-color: #fd9246;
    background-color: #fa8a3a;
    background-color: #ff863e;
    background-color: #f9823b;
    background-color: #f57d35;
}

.color-shade.vermilion {
    background-color: #e44135;
    background-color: #ef3224;
    background-color: #e9382b;
}

.color-shade.red {
    background-color: #c00000;
    background-color: #cd0046;
    background-color: #c10948;
    background-color: #c50044;
    background-color: #cc0047;
}

.color-shade.burgundy {
    background-color: #7b014c;
    background-color: #7b0133;
    background-color: #72002f;
    background-color: #72002f;
    /* background-color: #6e0a33; */
    /* background-color: #6a0f38; */
    background-color: #700c35;
    background-color: #800e3c;
    background-color: #7d0c3a;
}

.color-shade.brown {
    background-color: #583920;
    background-color: #75503a;
    background-color: #735043;
}

.color-shade.barbie-pink {
    background-color: #e12188;
    /* background-color: #e0298b; */
    background-color: #de2688;
}

.color-shade.bubblegum {
    background-color: #fd5da8;
    background-color: #f45fa5;
    background-color: #f665a9;
    background-color: #fa68ac;
    background-color: #f861a8;
    background-color: #f85fa8;
    background-color: #f863aa;
    background-color: #ff70b4;
}

.color-shade.pink {
    background-color: #f699cd;
    background-color: #fd94ce;
    background-color: #ff97d1;
    background-color: #ff9fd4;
    background-color: #ffa2d5;
}

.color-shade.sakura {
    background-color: #fec5e5;
    /* background-color: #efb7d6; */
    /* background-color: #f4bddc; */
    /* background-color: #fdbde1; */
}

.color-shade.white {
    background-color: #ffffff;
}

.color-shade.grey {
    background-color: #7e8191;
    background-color: #7f808a;
}

.color-shade.black {
    background-color: #1a1a1a
}

.color-shade.rainbow {
    background-color: #ffffff;
    background-image: linear-gradient(0deg, #c40041, #fd8346, #e4ca73, #96d0b7, #5bb3ff, #3b62da, #592a89);
}

/* ********** Horizontal Card ********** */
.horizontal .color-card-group-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}   

.horizontal .color-card{
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.horizontal .color-card-title {
    max-width: 144px;
}

.horizontal h3.color {
    font-size: 12px;
}

.horizontal .color-shade {
    height: 78px;
    width: 78px;
    border-radius: 8px;
}