.motivational-poster-container {
    margin-top: 2rem;
    padding: 0 3rem;
    padding: 0 3.5rem;
}

.motivational-poster {
    background-color: #22242d;
    border: 1.5px solid #1f2025;
    border-radius: 12px;
    border-radius: 16px;
    box-shadow: 3px 4px 8px rgb(0 0 0 / 10%);
    margin: 1.625rem 0;
    padding: 1.5rem;
    padding: 1.25rem;
    text-align: center;
}

.poster-image img {
    border: 4px solid #ddd;
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.poster-title {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 27.5px;
    font-weight: 400;
    line-height: 1;
    margin-top: 22px;
    margin-bottom: 0;
    text-transform: uppercase;
}   

.poster-description {
    color: #ddd;
    font-size: 12px;
    line-height: 1.415;
    margin-top: 15px;
    margin-bottom: 0;
}

hr {
    border: none;
    border-top: 2px dotted #6a6e84;
    margin: auto;
    width: 20%;
}