/* ********** kittydaze ********** */
section.cute-surprise {
    /* background-color: #47ffbb; */
    /* border: 2px solid #47ffbb; */

    /* border-radius: 70px; */
    cursor: grab;
    margin: .125rem 0 1.875rem;
    margin: 0;
    padding-top: 0;
    /* padding: 16px !important; */
    text-align: center;
    transition: all 0.3s ease-in-out;
    /* border-radius: 20px; */
    /* border-radius: 60px; */
}

.cute-surprise .codeblock {
    background-color: #2a2d39;
    border-radius: 60px;
    border-radius: 40px;
    border-radius: 36px;
    padding-bottom: 24px;
    transition: all 0.3s ease-in-out;
    /* background-color: #252836; */
}

.cute-surprise code {
    /* line-height: 1.25; */
    background-color: #2a2d39;
    letter-spacing: 0;
    transition: all 0.3s ease-in-out;
    /* background-color: #252836; */
}

.cute-surprise:hover {
    /* background-color: #47ffbb; */
    /* background-image: linear-gradient(315deg, #47ffbb, #a7ffe2); */
    /* border: 2px solid #a7ffe2; */
}

.cute-surprise:hover .codeblock {
    /* border-radius: 80px; */
    /* border-radius: 74px; */
}

.cute-surprise:hover .codeblock, 
.cute-surprise:hover code {
    background-color: #252834;
    /* background-color: #22242d; */
}

.cute-surprise:hover .littlekitty {
    color: #bfffeb;
}

.cute-surprise:hover .littledaze {
    letter-spacing: 2px;
    letter-spacing: 4px;
    opacity: .92;
    /* color: #47ffbb; */
    /* opacity: 1; */
}

.cute-surprise .littlekitty {
    color: #47ffbb;
    transition: all 0.3s ease-in-out;
}

.littledaze {
    opacity: .7;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
