/* ********** littlekittydaze ********** */
section.cute-surprise {
    cursor: grab;
    margin: 0;
    padding-top: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.cute-surprise .codeblock {
    background-color: #2a2d39;
    border-radius: 36px;
    padding-bottom: 24px;
    transition: all 0.3s ease-in-out;
}

.cute-surprise code {
    background-color: #2a2d39;
    letter-spacing: 0;
    transition: all 0.3s ease-in-out;
}

.cute-surprise:hover .codeblock, 
.cute-surprise:hover code {
    background-color: #252834;
}

.cute-surprise:hover .littlekitty {
    color: #bfffeb;
}

.cute-surprise:hover .littledaze {
    letter-spacing: 4px;
    opacity: .92;
}

.cute-surprise .littlekitty {
    color: #47ffbb;
    transition: all 0.3s ease-in-out;
}

.littledaze {
    opacity: .7;
    text-align: center;
    transition: all 0.3s ease-in-out;
}
