@import url('navigation.css');
@import url('utility.css');
@import url('littlekittydaze.css');

/* *************** Default Elements *************** */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 11px;
    background-color: #32364a;
    color: #47ffbb;
    margin: 0;
}

.content-container {
    margin: 4.75rem auto 1.75rem;
    margin: 4.5rem auto 1.75rem;
    max-width: 520px;
}

h1 {
    color: #47ffbb;
    font-size: 20px;
    font-size: 19px;
    font-size: 18.5px;
    /* font-size: 18px; */
    letter-spacing: -0.25px;
    margin: 1.375rem 0;
    text-align: center;
    text-transform: capitalize;
}

h1 i {
    margin-left: 8px;
    font-size: 88%;
    color: #bfffeb;
    color: #b6ffe4;
    color: #bbfde4;
}

p {
    line-height: 1.2;
    margin: .75rem 0;
    /* color: #ccced7; */
}

th {
    background-color: #4f5572;
}

td {
    background-color: rgba(73, 78, 102, 0.8);
}

ul {
    padding-inline-start: 10px;
}

ul li:last-of-type {
    margin-bottom: 0;
}

a {
    color: #313651;
    background-color: #47ffbb;
    border-radius: 2px;
    padding: 0 1px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #47ffbb;
    background-color: #22242d;
}


a.active {
    background-color: #e4e6f4;
}

a.active:hover {
    color: #313651;
    cursor: default;
}


/* *************** Titles & Subtitles *************** */
.page-title {
    text-align: center;
}

.page-title-extended-txt {
    display: block;
    font-size: 75%;
    font-weight: normal;
    margin-top: 4px;
    padding-bottom: 2px;
}

.subtitle {
    color: #b2ffe6;
    font-size: 15px;
    font-size: 14px;
    letter-spacing: -0.125px;
    margin-bottom: 1.25rem;
    text-align: center;
    /* text-transform: capitalize; */
}

.subtitle-extended-txt {
    display: block;
    font-size: 75%;
    font-weight: normal;
    margin-top: 4px;
    padding-bottom: 2px;
}

.section-title {
    color: #bfffeb;
    color: #b6ffe4;
    color: #bbfde4;
    font-size: 13px;
    font-size: 14px;
    margin-bottom: .75rem;
    text-align: center;
    text-transform: capitalize;
}

.section-title.code {
    text-transform: lowercase;
}


/* *************** Section Base Rules *************** */
section {
    border-bottom: 2px inset #525867;
    padding: 1.25rem 0 1.375rem;
}

section:first-of-type {
    padding-top: 0;
}

section:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

section > *:first-child {
    margin-top: 0;
}

section > *:last-child,
section > *:last-child > *:last-child,
section > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0;
}

section > p:first-of-type {
    margin-top: 0;
}

section.contact-details, section.my-hobbies {
    padding-top: .25rem;
}

section.daze-intro {
    background-color: #2a2d39;
    border-bottom: none;
    border-radius: 36px;
    margin-bottom: .75rem;
    padding: .875rem 0 1.125rem;
    text-align: center;
}

section.daze-intro .page-title {
    font-size: 40px;
    font-size: 36px;
    font-size: 34px;
    font-size: 33px;
    /* font-size: 32.5px; */
    /* font-size: 32px; */
    letter-spacing: -1px;
    letter-spacing: -.5px;
    margin: 0;
}

 .role-title {
    color: #bfffeb;
    color: #b6ffe4;
    color: #bbfde4;
    display: block;
    font-size: 13px;
    font-size: 14px;
    font-weight: bold;
    margin: .25rem 0 .75rem;
}

.dev-icon {
    height: 90px;
    display: block;
    margin: auto;
}

.dev-slogan-box {
    background-color: rgb(37 39 45 / 80%);
    background-color: transparent;
    border: 2px solid #4b5262;
    border-radius: 13px;
    display: inline-block;
    margin: 1em 0 1.2em;
    padding: 8px 16px;
}

.dev-slogan {
    font-size: 11px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.socials {
    font-size: 14px;
    padding: .25rem 0;
}

a.social-link {
    border: 1px solid #47ffbb;
    border-radius: 5px;
    padding: 1px;
}

a.social-link:hover {
    background-color: transparent;
}

.home .section-title {
    /* text-transform: uppercase; */
    /* letter-spacing: -0.125px; */
}


/* *************** Work Experiences *************** */
.work-exp-title {
    margin-bottom: 0;
    text-align: left;
}

.work-exp-date {
    margin: 0.2rem 0 0;
}

.work-exp-desc {
    margin: .5rem 0 0;
    padding-inline-start: 20px;
}

.work-exp-desc li {
    margin-bottom: .375rem;
}

table {
    margin-top: .875rem;
}

.skill-table {
    width: 100%;
}

.skill-table tr {
    width: 100%;
}

.skill {
    width: 30%;
}

.skill-rating {
    font-size: 9px;
    width: 20%;
}


/* *************** Contact Me *************** */
.contact-details {
    border-bottom: none;
    padding-bottom: 1.5rem;
}

.contact-details p {
    margin: 1px 0;
}

p.contact-name {
    color: #bfffeb;
    color: #b6ffe4;
    color: #bbfde4;
    font-size: 13px;
    font-size: 13.5px;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: .25rem !important;
}


/* *************** Footer *************** */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #818997;
    font-size: 9.5px;
    margin: 1.75rem 0 0;
    padding: 0;
}

footer p {
    margin: 1px 0;
}

.web-creator .icon {
    margin-right: 1px;
}

.daze-to-blacksnow-black-screen-link {
    background-color: transparent;
    color: #a7afbd;
    font-size: 105%;
    font-weight: bold;
    margin-right: 3px;
}

.daze-to-blacksnow-black-screen-link:hover {
    background-color: transparent;
    color: #b4bcca;
    color: #cad2e0;
    color: #d5dce8;
    text-decoration: underline wavy #47ffbb;
}