@import url('navigation.css');
@import url('utility.css');
/* @import url('blacksnow.css'); */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 11px;
    background-color: #3a3e56;
    background-color: #313651;

    background-color: #353950;

    background-color: #373b50;
    background-color: #32364a;

    color: #47ffbb;
    /* color: #28ffbb; */
    margin: 0;
}

.content-container {
    margin: 2.25rem auto;
    margin: 5.75rem auto 2.25rem;
    margin: 5.5rem auto 2.25rem;
    margin: 5rem auto 2.25rem;
    margin: 4.75rem auto 2.25rem;
    margin: 4.75rem auto 1.75rem;
    max-width: 520px;
}

section {
    border-bottom: 1.5px inset #727689;
    border-bottom: 2px inset #53576e;

    border-bottom: 2px inset #585b6d;
    border-bottom: 2px inset #5c5e6e;
    border-bottom: 2px inset #6a6c7b;

    border-bottom: 2px inset #626473;
    border-bottom: 2px inset #525867;

    padding: 1.25rem 0;
    padding: 1.375rem 0;
    padding: 1.375rem 0 1.425rem;
    padding: 1.375rem 0 1.5rem;
    padding: 1.25rem 0 1.375rem;
}

section:first-of-type {
    padding-top: 0;
}

section:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

section > *:first-child {
    margin-top: 0;
}

/* section > *:last-child {
    margin-bottom: 0;
} */

section > *:last-child,
section > *:last-child > *:last-child,
section > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0;
}

section > p:first-of-type {
    margin-top: 0;
}

section.intro {
    background-color: #323547;
    background-color: rgb(0 0 0 / 20%);
    background-color: rgb(32 35 53 / 40%);
    background-color: rgb(0 0 0 / 14%);
    background-color: #2c3040;
    background-color: #2b2f3e;
    background-color: rgba(41, 45, 59, 0.9);
    background-color: rgb(39 42 55 / 70%);
    background-color: #2b2f3d;

    background-color: #2a2d39;
    /* border: 4px solid #47ffbb; */
    /* border: 3px dotted #47ffbb; */
    /* border: 5px solid #47ffbb; */
    /* border: 6px solid #47ffbb; */
    /* border: 8px solid #47ffbb; */
    border-bottom: none;
    border-radius: 24px;
    border-radius: 32px;
    border-radius: 36px;
    /* border-radius: 40px; */
    margin-bottom: .75rem;
    padding: .875rem 0;
    padding: .875rem 0 1.125rem;
    text-align: center;
}

section.contact-details, section.my-hobbies {
    padding-top: .25rem;
}

.home .section-title {
    text-transform: uppercase;
    letter-spacing: -0.125px;
}

.role-title {
    color: #aeffe1;
    color: #b2ffe6;
    color: #bfffeb;
    /* color: #47ffbb; */
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: .375rem 0 .75rem;
    margin: .25rem 0 .75rem;
}

.dev-icon {
    height: 90px;
    display: block;
    margin: auto;
}

.dev-slogan-box {
    background-color: #24262f;
    background-color: rgba(36, 38, 47, 0.8);
    background-color: rgb(37 39 45 / 80%);
    background-color: rgb(37 39 45 / 80%);
    background-color: transparent;
    /* background-color: #25272d; */
    /* background-color: #27292f; */
    border: 2px solid rgb(71 255 187 / 50%);
    border: 2px solid rgb(71 255 187 / 40%);
    border: 2px solid rgb(71 255 187 / 30%);
    border: 2px solid #3e4250;
    border: 2px solid #424755;
    border: 2px solid #494e59;
    border: 2px solid #4b505b;
    border: 2px solid #4b5262;
    /* border: 2px solid #464c57; */
    /* border: 2px solid #464b58; */
    border-radius: 12px;
    border-radius: 13px;
    display: inline-block;
    margin: 1em 0;
    margin: 1em 0 1.2em;
    padding: 6px 16px;
    padding: 8px 16px;
}

.dev-slogan {
    /* color: #47ffbb; */
    font-size: 11px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.socials {
    font-size: 14px;
    padding: .25rem 0;
}

h1 {
    font-size: 22px;
    font-size: 20px;
    margin-bottom: 1.25rem;
    margin-bottom: 1.375rem;
    /* margin-top: 1.125rem; */
    margin-top: 1.375rem;
    margin: 1.25rem 0;
    margin: 1.375rem 0;
    text-align: center;
    /* color: #e2e5f2; */
    /* color: #e9ecf8; */

    color: #47ffbb;
    /* color: #afffe1; */
    /* color: #b2ffe6; */
    letter-spacing: -0.125px;
    /* letter-spacing: -0.25px; */
    text-transform: capitalize;
}

.page-title {
    text-align: center;
}

.page-title-extended-txt {
    display: block;
    font-size: 75%;
    font-weight: normal;
    margin-top: 4px;
    padding-bottom: 2px;
}


.subtitle {
    color: #b2ffe6;
    font-size: 15px;
    letter-spacing: -0.125px;
    margin-bottom: .75rem;
    text-align: center;
    text-transform: capitalize;
}

.subtitle-extended-txt {
    display: block;
    font-size: 75%;
    font-weight: normal;
    margin-top: 4px;
    padding-bottom: 2px;
}

.section-title {
    color: #aeffe1;
    color: #afffe9;
    color: #b1ffea;
    color: #9fffe0;
    color: #a7ffe2;
    color: #b2ffe6;
    color: #bfffeb;
    /* color: #bbffe9; */
    font-size: 13px;
    /* font-size: 13.5px; */
    /* font-size: 14px; */
    margin-bottom: .75rem;
    text-align: center;
    text-transform: capitalize;
    /* letter-spacing: 0.125px; */
    /* font-size: 14px; */
}

.section-title.code {
    text-transform: lowercase;
    /* font-family: monospace; */
    /* font-size: 12px; */
    /* letter-spacing: -0.125px; */
}

p {
    line-height: 1.2;
    /* line-height: 1.25; */
    margin: .75rem 0;
}

p, li, th, td {
    /* color: #86ffd2;
    color: #47ffbb;
    color: #a1a5b9;
    color: #b8bbc9;
    color: #c2c5d2;
    color: #cdd0dd; */
    /* color: #d6dae8; */
}

th {
    background-color: #505579;
    background-color: #535a7a;
    background-color: #515876;

    background-color: #494e66;
    background-color: #4d526a;
    background-color: #525770;
    background-color: #50556f;
    background-color: #4f5572;
}

td {
    background-color: #424867;
    background-color: #424760;
    background-color: #42475f;
    background-color: rgba(73, 78, 102, 0.8);
}

ul {
    padding-inline-start: 10px;
}

ul li:last-of-type {
    margin-bottom: 0;
}

a {
    color: #313651;
    background-color: #47ffbb;
    border-radius: 2px;
    padding: 0 1px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #47ffbb;
    background-color: #202128;
}


a.active {
    background-color: #e4e6f4;
}

a.active:hover {
    color: #313651;
    cursor: default;
}

a.social-link {
    border: 1px solid #47ffbb;
    border: 1px solid #47ffbb;
    border: 1px solid #28ffbb;
    border-radius: 5px;
    padding: 1px;
}

a.social-link:hover {
    background-color: transparent;
}

.nav-list-menu li {
    margin-bottom: 2px;
}



.work-exp-title {
    margin-bottom: 0;
    text-align: left;
}

.work-exp-date {
    margin: 0.2rem 0 0;
}

.work-exp-desc {
    margin: .5rem 0 0;
    padding-inline-start: 20px;
}

.work-exp-desc li {
    margin-bottom: .375rem;
}

table {
    margin-top: .875rem;
}

.skill-table {
    width: 100%;
}

.skill-table tr {
    width: 100%;
}

.skill {
    width: 30%;
}

.skill-rating {
    font-size: 9px;
    width: 20%;
}


/* ********** Contact Details Section ********** */
.contact-details {
    border-bottom: none;
    padding-bottom: 1.5rem;
}

.contact-details p {
    margin: 1px 0;
}

p.contact-name {
    color: #9bffda;
    color: #a7ffe2;
    color: #b2ffe6;
    color: #bfffeb;
    font-size: 1.15em;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: .25rem !important;
}

section.cute-surprise {
    /* background-color: #47ffbb; */
    /* border: 2px solid #47ffbb; */

    /* border-radius: 70px; */
    cursor: grab;
    margin: .125rem 0 1.875rem;
    margin: 0;
    padding-top: 0;
    /* padding: 16px !important; */
    text-align: center;
    transition: all 0.3s ease-in-out;
    /* border-radius: 20px; */
    /* border-radius: 60px; */
}

.cute-surprise .codeblock {
    border-radius: 60px;
    border-radius: 40px;
    border-radius: 36px;
    padding-bottom: 24px;
    transition: all 0.3s ease-in-out;
    /* background-color: #252836; */
}

.cute-surprise code {
    /* line-height: 1.25; */
    transition: all 0.3s ease-in-out;
    letter-spacing: 0;
    /* background-color: #252836; */
}

.cute-surprise:hover {
    /* background-color: #47ffbb; */
    /* background-image: linear-gradient(315deg, #47ffbb, #a7ffe2); */
    /* border: 2px solid #a7ffe2; */
}

.cute-surprise:hover .codeblock {
    /* border-radius: 80px; */
    /* border-radius: 74px; */
}

.cute-surprise:hover .codeblock, 
.cute-surprise:hover code {
    background-color: #252834;
}

.cute-surprise:hover .littlekitty {
    color: #a7ffe2;
    color: #b2ffe6;
}

.cute-surprise:hover .littledaze {
    letter-spacing: 2px;
    /* letter-spacing: 4px; */
    opacity: .92;
    /* color: #47ffbb; */
    /* opacity: 1; */
}

.cute-surprise .littlekitty {
    color: #47ffbb;
}

.littledaze {
    opacity: .7;
    text-align: center;
    transition: all 0.3s ease-in-out;
}


/* ********** Footer Section ********** */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #47ffbb;
    border: 1px solid #47ffcc;
    border: 2px solid #727689;
    border: 2px solid rgba(114, 118, 137, 0.85);
    border: 2px solid #727689;
    border: 2px solid #53576e;
    border: 2px solid #575b6b;

    border: 2px solid #585b6d;

    border: 2px solid #585b6d;
    border: 2px solid #5c5e6e;
    border: 2px solid #6a6c7b;
    border: 2px solid #626473;

    /* border: 1.5px solid #727689; */
    border-radius: 12px;
    font-size: 9.5px;
    margin: 1.75rem 0 1.125rem;
    padding: .5rem 0;

    border: none;
    margin: 0;
    margin-top: 1.75rem;
    padding: 0;
    color: #697080;
    color: #788090;
    color: #7e8797;
    color: #818997;
}

footer p {
    margin: 1px 0;
}

.daze-to-blacksnow-hero-screen-link {
    background-color: transparent;
    color: #47ffbb;
    color: #a7afbd;
    font-size: 105%;
    font-weight: bold;
    margin-right: 3px;
    /* text-decoration: underline wavy #47ffbb; */
}

.daze-to-blacksnow-hero-screen-link:hover {
    background-color: transparent;
    color: #b4bcca;
    color: #cad2e0;
    text-decoration: underline wavy #47ffbb;
    /* text-decoration: none; */
}

.web-creator .icon {
    margin-right: 1px;
}