@import url('utility.css');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-size: 11px;
    background-color: #3a3e56;
    background-color: #313651;

    background-color: #353950;

    background-color: #373b50;
    background-color: #32364a;

    color: #47ffbb;
    /* color: #28ffbb; */
    margin: 0;
}

.content-container {
    margin: 2.25rem auto;
    max-width: 520px;
}

section {
    border-bottom: 1.5px inset #727689;
    padding: 1.25rem 0;
}

section:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

section > *:first-child {
    margin-top: 0;
}

section > *:last-child {
    margin-bottom: 0;
}

section > *:last-child > *:last-child {
    margin-bottom: 0;
}

section > p:first-of-type {
    margin-top: 0;
}

section.intro {
    background-color: #323547;
    background-color: rgb(0 0 0 / 20%);
    background-color: rgb(32 35 53 / 40%);
    background-color: rgb(0 0 0 / 14%);
    background-color: #2c3040;
    background-color: #2b2f3e;
    background-color: rgba(41, 45, 59, 0.9);
    border-bottom: none;
    border-radius: 24px;
    margin-bottom: .75rem;
    padding: .875rem 0;
    text-align: center;
}

section.contact-details, section.my-hobbies {
    padding-top: .25rem;
}

.home .section-title {
    text-transform: uppercase;
}


.top-nav {
    font-size: 10px;
}

.top-nav-menu {
    padding-inline-start: 0;
    margin-top: 0;
}

.top-nav a {
    background-color: #b5bde5;
    background-color: #888ea9;
    /* background-color: #202128;
    color: #888ea9; */
}

.top-nav a:hover {
    color: #b5bde5;
    color: #888ea9;
    /* background-color: #888ea9;
    color: #313651; */
}

.top-nav li {
    display: inline-block;
    list-style-type: none;
}

.top-nav-menu-item-separator {
    color: #47ffbb;
    /* color: #47ffcc; */
    color: #727689;
    /* color: rgb(71 255 187 / 40%); */
}


.page-title {
    font-size: 2.25rem;
    margin: 0;
}

.role-title {
    color: #aeffe1;
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin: .375rem 0 .75rem;
}

.dev-icon {
    height: 90px;
    display: block;
    margin: auto;
}

.dev-slogan-box {
    border: 2px solid rgb(71 255 187 / 50%);
    border-radius: 12px;
    display: inline-block;
    margin: 1em 0;
    padding: 6px 16px;
}

.dev-slogan {
    /* color: #47ffbb; */
    font-size: 11px;
    font-weight: normal;
    line-height: 1.25;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}

.socials {
    font-size: 14px;
    padding: .25rem 0;
}

h1 {
    font-size: 23px;
    margin-bottom: 1.25rem;
    /* margin-top: 1.125rem; */
    text-align: center;
}

.subtitle {
    color: #c3ffe9;
    color: #afffe9;
    color: #b1ffea;
    font-size: 15px;
    margin-bottom: .75rem;
    text-align: center;
    text-transform: capitalize;
}

.section-title-extended-txt {
    display: block;
    font-size: 75%;
    font-weight: normal;
    margin-top: 4px;
    padding-bottom: 2px;
}

.section-title {
    color: #aeffe1;
    color: #afffe9;
    color: #b1ffea;
    color: #9fffe0;
    color: #a7ffe2;
    font-size: 13.5px;
    margin-bottom: .75rem;
    text-align: center;
    text-transform: capitalize;
}

p {
    line-height: 1.2;
    /* line-height: 1.25; */
    margin: .75rem 0;
}

th {
    background-color: #505579;
    background-color: #535a7a;
    background-color: #515876;

    background-color: #494e66;
    background-color: #4d526a;
    background-color: #525770;
    background-color: #50556f;
    background-color: #4f5572;
}

td {
    background-color: #424867;
    background-color: #424760;
    background-color: #42475f;
    background-color: rgba(73, 78, 102, 0.8);
}

ul {
    padding-inline-start: 10px;
}

a {
    color: #313651;
    background-color: #47ffbb;
    /* background-color: #28ffbb; */
    /* background-color: #47ffcc; */
    border-radius: 2px;
    padding: 0 1px;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #47ffbb;
    /* color: #28ffbb; */
    /* color: #47ffcc; */
    background-color: #202128;
}


a.active {
    background-color: white;
    background-color: #ccd0e4;
}

a.active:hover {
    /* color: #47ffbb;
    background-color: #202128; */
    color: #313651;
    /* background-color: white;
    background-color: #d5d9eb;
    background-color: #ccd0e4; */
    cursor: default;
}

a.social-link {
    border: 1px solid #47ffbb;
    border: 1px solid #47ffbb;
    border: 1px solid #28ffbb;
    /* border: 1px solid #47ffcc; */
    border-radius: 5px;
    padding: 1px;
    /* background-color: transparent;
    color: #47ffbb; */
}

a.social-link:hover {
    background-color: transparent;
    /* background-color: #47ffbb;
    color: #272b40; */
}

.nav-list li {
    margin-bottom: 2px;
}



.work-exp-title {
    margin-bottom: 0;
    text-align: left;
}

.work-exp-date {
    margin: 0.2rem 0 0;
}

.work-exp-desc {
    margin: .5rem 0 0;
    padding-inline-start: 20px;
}

.work-exp-desc li {
    margin-bottom: .375rem;
}

table {
    margin-top: .875rem;
}

.skill-table {
    width: 100%;
}

.skill-table tr {
    width: 100%;
}

.skill {
    width: 30%;
}

.skill-rating {
    font-size: 9px;
    width: 20%;
}


/* ********** Contact Details Section ********** */
.contact-details {
    border-bottom: none;
    padding-bottom: 1.5rem;
}

.contact-details p {
    margin: 1px 0;
}

p.contact-name {
    color: #9bffda;
    color: #a7ffe2;
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: 0;
}

section.cute-surprise {
    /* background-color: #47ffbb; */
    /* border: 2px solid #47ffbb; */
    border-radius: 20px;
    border-radius: 50px;
    /* border-radius: 70px; */
    cursor: grab;
    margin: .125rem 0 1.875rem;
    padding-top: 0;
    /* padding: 16px !important; */
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.cute-surprise .codeblock {
    border-radius: 60px;
    padding-bottom: 24px;
    transition: all 0.3s ease-in-out;
    /* background-color: #252836; */
}

.cute-surprise code {
    /* line-height: 1.25; */
    transition: all 0.3s ease-in-out;
    /* background-color: #252836; */
}

.cute-surprise:hover {
    background-color: #47ffbb;
    background-image: linear-gradient(315deg, #47ffbb, #a7ffe2);
    /* border: 2px solid #a7ffe2; */
}

.cute-surprise:hover .codeblock {
    border-radius: 80px;
}

.cute-surprise:hover .codeblock, .cute-surprise:hover code {
    background-color: #252834;
    /* background-color: #21242f; */
    /* background-color: #20222c; */
}

.cute-surprise:hover .littlekitty {
    color: #a7ffe2;
}

.cute-surprise:hover .littledaze {
    letter-spacing: 2px;
    opacity: .92;
    /* color: #47ffbb; */
    /* opacity: 1; */
}

.cute-surprise .littlekitty {
    color: #47ffbb;
}

.littledaze {
    opacity: .7;
    text-align: center;
    transition: all 0.3s ease-in-out;
}


/* ********** Footer Section ********** */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #47ffbb;
    border: 1px solid #47ffcc;
    border: 2px solid #727689;
    border: 2px solid rgba(114, 118, 137, 0.85);
    border-radius: 12px;
    font-size: 9.5px;
    margin: 1.75rem 0 1.125rem;
    padding: .5rem 0;
}

footer p {
    margin: 1px 0;
}

.web-creator .icon {
    margin-right: 1px;
}