/* *************** Global Nav *************** */
.global-nav {
    background-color: #22242d;
    border: 1.5px solid #47ffbb;
    border-radius: 14px;
    border-radius: 12px;
    position: fixed;
    top: 1.125rem;
    max-width: 520px;
    width: 100%;
}

.global-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .125rem .9375rem .125rem .875rem;
    padding: 1px .9375rem 1px .875rem;
    padding: 0 .9375rem 0 .875rem;
    padding: 0 .875rem 0 .85rem;
}

.global-nav-logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    gap: 7.5px;

    background-color: transparent;
    color: white;
    /* font-size: 16px; */
    /* font-size: 15.5px; */
    /* font-size: 15px; */
    /* font-weight: bold; */
    line-height: 1;
}

.global-nav-logo a:hover {
    color: #dbdff3;
}

.global-nav-logo a:hover .global-nav-logo-img {
    /* transform: rotate(-5deg); */
}

.global-nav-logo-img {
    height: auto;
    width: 29px;
    width: 28px;
    width: 27px;
    /* transition: all 0.3s ease; */
}

.web-title {
    /* padding-bottom: 2px; */
    /* padding-bottom: 1px; */
    padding-bottom: 1.5px;
    padding-bottom: 2.5px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20.5px;
    font-size: 22px;
    letter-spacing: .25px;
}

.global-nav-menu {
    display: flex;
    gap: 16px;
    gap: 15px;
    /* gap: 12px; */
    list-style-type: none;
}

.global-nav-menu-item a {
    background-color: transparent;
    border-radius: 3px;
    color: #c5c7d5;
    letter-spacing: -0.125px;
    padding: 1px 3px;
    padding: 1px 3px;
}

.global-nav-menu-item a:hover {
    background-color: transparent;
    color: #47ffbb;
}

.global-nav-menu-item a.active {
    background-color: #47ffbb;;
    color: #252832;
}

.global-nav-menu-item a.active:hover {
    cursor: pointer;
}

.global-nav-menu-item i {
    /* margin-right: 4px; */
    /* margin-left: -1px; */
    margin-left: 4px;
    font-size: 92%;
}

.blacksnow-icon {
    /* color: #47ffbb; */
    font-size: 10px;
}

.blacksnow-icon:hover {
    /* color: #47ffbb; */
    /* color: #bfffeb; */
    /* color: #b6ffe4; */
    /* color: #bbfde4; */
}


/* *************** Breadcrumb *************** */
.breadcrumb {
    font-size: 9.5px;
    margin-bottom: .875rem;
}

.breadcrumb-menu {
    padding-inline-start: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.breadcrumb li {
    display: inline-block;
    list-style-type: none;
}

.breadcrumb a {
    background-color: transparent;
    color: #757987;
}

.breadcrumb a:hover {
    background-color: transparent;
    color: #b2b5bb;
}

.breadcrumb .current-page {
    color: #999ba1;
    cursor: default;
}

.breadcrumb .current-page:hover {
    color: #999ba1;
}

.breadcrumb-menu-item-separator {
    color: #5e6172;
}


/* *************** Nav Group *************** */
.nav-group {
    margin-bottom: 1.875rem;
    margin-top: 1rem;
}

.nav-group-desc {
    margin-bottom: -.125rem;
}


/* *************** nav-list-menu *************** */
.nav-list-menu li {
    margin-bottom: 2px;
}