pre {
    white-space: pre-line;
}

.codeblock {
    background-color: #272a37;
    border-radius: 16px;
    margin-bottom: 1rem;
    padding: 18px;
    color: #ffffff;
}

.codeblock > pre:first-child {
    margin-top: 0;
}

.codeblock > pre:last-child {
    margin-bottom: 0;
}

.codeblock code {
    margin-bottom: 0;
    margin-top: -12px;
}

code {
    background-color: #272a37;
    color: #ffffff;
    display: inline-block;
    letter-spacing: .25px;
    margin-bottom: .2rem;
}

.textbox {
    padding: 16px;
    border: 2px solid #5b6271;
    border-radius: 16px;
}

.textbox > *:first-child {
    margin-top: 0;
}

.textbox > *:last-child {
    margin-bottom: 0;
}

.note {
    color: #8cafff;
    font-size: 10px;
    margin-top: 2px;
}   

.note-inline {
    color: #8cafff;
    font-size: 8px;
    margin-left: 4px;
}

.heading-inline-icon-right {
    margin-left: 4px;
}

.inline-icon-right {
    font-size: 90%;
    margin-left: 2px;
}


/* *************** Spacing *************** */
.mb0 {
    margin-bottom: 0;
}
.mb0-125 {
    margin-bottom: 0.125rem;
}
.mb0-25 {
    margin-bottom: 0.25rem;
}

.mt0 {
    margin-top: 0;
}
.mt0-125 {
    margin-top: 0.125rem;
}
.mt0-25 {
    margin-top: 0.25rem;
}
.mt1-25 {
    margin-top: 1.25rem;
}

.center {
    text-align: center;
}


/* ******** Temporary Styles (To be removed) ******** */
.project-template-link {
    background-color: transparent;
    color: #9398b1;
    font-size: 10px;
    padding: 0;
}

.project-template-link:hover {
    color: #b3bad4;
    background-color: transparent;
    text-decoration: underline;
}